@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Marvel:wght@700&family=Roboto:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.descuento {
    background-color: #1CD1B0;
    /* position: absolute; */
    width: 100%;
    height: 38px;
    padding-left: 28px;
    padding-top: 10px;
    font-size: 15px;
    font-weight: 400;

}


.heroes {
    background-color: #00669F;
    /* position: absolute; */
    width: 100%;
    height: 101px;
    left: 0px;
    top: 38px;
    padding-top: 28px;
    padding-left: 28px;
    font-weight: 400;
}


.contenedorBatman{
    
    flex-direction: column;
    width: 300px;
    height: 529px;
    justify-content: space-evenly;
    
    
}

.contenedorFinal{
    /* height:600px ; */
    justify-content: space-around;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    /* margin-top: 150px; */
    /* margin-bottom: 150px; */
}

.harley2 {
    position: absolute;
    width: 300px;
    height: 193px;
    /* left: 352px;
    top: 275px; */
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1\ \(1\).png);
}

.contenedorHarley{
    
    flex-direction: column;
    width: 300px;
    height: 529px;
    justify-content: space-evenly;  
}


.batman2 {
    position: absolute;
    width: 300px;
    height: 193px;
    /* left: 677px;
    top: 275px; */
    background-image: url(../img/849bfede3a5193c34ab8a00379e64fa2\ 1.png);
}

.superMan {
    background-size: cover;
    position: absolute;
    width: 300px;
    height: 193px;
    /* left: 677px;
    top: 275px; */
    background-image: url(../img/Group\ 23.png);
}

.superWoman {
    background-size: cover;
    position: absolute;
    width: 300px;
    height: 193px;
    border-radius: 22px 22px 0 0;
    /* left: 677px;
    top: 275px; */
    background-image: url(../img/fondoWoman.png);
}

.contenedorBatman2{
    
    flex-direction: column;
    width: 300px;
    height: 529px;
    justify-content: space-evenly;     
}

.like {
    padding: 20px;
}

.rectangulo {
    display:flex;
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 336px;    
    top: 182px;
    background-color: #F3F3F3;
}



.perfil-batman {
    position: absolute;
    width: 120px;
    height: 118px;
    left: 85px;
    top: 140px;
    z-index: 10;
    border-radius: 100px;
}

.perfil-harley {
    position: absolute;
    width: 120px;
    height: 118px;
    left: 85px;
    top: 140px;
    z-index: 10;
    border-radius: 100px;
}

.perfil-superWoman img {
    /* background-size: cover; */
    position: absolute;
    width: 128px;
    height: 128px;
    left: 85px;
    top: 140px;
    z-index: 10;
    border-radius: 100px;
}

.perfil-superMan img {
    background-size: cover;
    position: absolute;
    width: 128px;
    height: 128px;
    left: 85px;
    top: 140px;
    z-index: 10;
    border-radius: 100px;
}

.rectangulo h2 {
    
    padding-top: 92px;
    font-size: 30px;
    font-weight: 400;
}
.h2Batman{
    padding-left: 88px;  
}
.h2Harley{
    padding-left: 68px;  
}
.h2Woman{
    padding-left: 47px;  
}
.h2Super{
    padding-left: 68px;  
}

.rectanguloHarley h2 {
    padding-left: 65px;
    padding-top: 82px;
    font-size: 30px;
    font-weight: 400;
}

.soyP {
    width: 267px;
    height: 113px;
    padding-top: 12px;
    padding-left: 16px;
}

.soyP2 {
    width: 285px;
    height: 113px;
    padding-top: 12px;
    padding-left: 10px;
}

.boton-ver {
    position: absolute;
    width: 128.78px;
    height: 48.52px;
    left: 80px;
    top: 450px;
    background-color: #00669F;
    color: #ffffff;
    border: 1px solid #00669F;
}

footer {
    display: flex;
    flex-direction:column ;
    background-color: #00669F;
    position: absolute;
    width: 100%;
    height: 51px;
    justify-content: center;
    
    /* left: 0px;
    top: 972px; */
    
}

.footer-derechos{
    display: flex;
    font-size:9px ;
    color: #ffffff;
    justify-content: space-between;
    align-items: center;   
    padding-right: 16px;
    padding-left: 16px;
}

.logoGit{    
    height: 25px;
}

@media (min-width:480px) {

   .contenedorFinal{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    margin-top: 10px;
    
   }

   .contenedorBatman{
    margin-top: 10px;
    margin-bottom: 30px;
   }

   .contenedorHarley{
    margin-top: 10px;
    margin-bottom: 30px;
   }

   .contenedorBatman2{
    margin-top: 10px;
    margin-bottom: 30px;
   }

   footer{
     position:relative;
     margin:0 ;
   }
    
}